<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="jp.co.cyberagent.codesample">

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:name=".activity.IndexActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.Ex1Activity"
                android:label="@string/title_activity_ex1">
        </activity>
        <activity
                android:name=".activity.Ex3Activity"
                android:label="@string/title_activity_ex3">
        </activity>
        <activity
                android:name=".activity.Ex2ScrollActivity"
                android:label="@string/title_activity_ex2">
        </activity>
        <activity
                android:name=".activity.Ex2ListActivity"
                android:label="@string/title_activity_ex2">
        </activity>
        <activity
                android:name=".activity.Ex4Activity"
                android:label="@string/title_activity_ex4">
        </activity>
    </application>

</manifest>
